li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
    font-size: large;
}

#contenedor{
    background-color: antiquewhite;
    width: 90%;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

.cabecera{
    border: red solid;
}

.cuerpo{
    background-color: aqua;
}

.contenido{
    background-color: cornflowerblue;
}

