<div id="sidebar" class="bg-dark d-flex flex-column text-white active">
    <!-- BOTON -->
    <div class="toggle-btn btn text-white">
        <span>&#9776;</span>
    </div>
    <!-- CABECERA -->
    <div class="">
        <a class="d-flex mt-2 justify-content-center" href="/index"><img width="260" height="300" src="images/escudo.png" alt="CIBERDEFA-Logo"></a>
        <div class="fs-4 text-center text-white">Dirección de Ciberdefensa</div>
        <hr>
    </div>
    <!-- CUERPO DEL SIDEBAR -->
    <div class="list-unstyled row m-2 p-2 mb-auto">
        <li><a class="btn col-12 btn-outline-light text-lg-start mb-2" href="/index">Inicio</a></li>
        <li><a class="btn col-12 btn-outline-light text-lg-start mb-2" href="/about">Acerca de Nosotros</a></li>
        <li><a class="btn col-12 btn-outline-light text-lg-start mb-2" href="/contact">Contacto</a></li>
    </div>
    <!-- USUARIO -->
    <hr>
    <div style="margin-left: 10px;">
        <a href="#" class="text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown">
            <img src="images/escudo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>{{name}} {{surname}}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="/addlink">Nuevo Portal</a></li>
            <!-- <li><a class="dropdown-item" href="#">Configuración</a></li>
            <li><a class="dropdown-item" href="#">Perfil</a></li> -->
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
        </ul>
    </div>
    <hr>
    <!-- FOOTER -->
    <div class="text-white mt-3">
        <p class="text-center"><small></small>© 2021 Todos los derechos reservados.</p>
        <ul class="list-unstyled d-flex justify-content-evenly">
            <li><a href="https://www.facebook.com/santiagoyop" target="_blank"><i class="text-white bi-facebook"></i></a></li>
            <li><a href="https://twitter.com/SSarchetti" target="_blank"><i class="text-white bi-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/santiagosarchetti/" target="_blank"><i class="text-white bi-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/santiago-nahuel-sarchetti-bb782017b/" target="_blank"><i class="text-white bi-linkedin"></i></a></li>
        </ul>
    </div>
</div>